@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  margin-top: 75px;
}

canvas {
  position:fixed;
  top:0;
  left:0;
}

main {
  position: absolute;
  color: #fff;
  width:100%;
}

section {
  background: rgba(0,0,0,0.4);
  padding: 15px;
}

.jumbotron {
  margin-top: 15px;
  margin-bottom: 75px;
  background: rgba(0,0,0,0.4);
  padding: 15px;
}